<!DOCTYPE html>
<html >
<head>
    <title>Czat</title>
</head>
<body>
<center><div>{{ informacja }}</div></center>
    <br/>
    <br/>
    <br/>
    {% block body %}
    {% endblock %}
</body>
</html>